{% extends 'issues/base.html' %}
{% load staticfiles %}
<head>
    {% block head %}
    <title>View Detail</title>
    {% endblock %}
</head>
{% block body %}
<div class='details'>
    {% if issue %}
    <h3>{{ issue.title }}</h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class='detail'>
        <p>Submitted by: <i>{{ issue.reporter }}</i></p>
        <p>Date submitted: <i>{{ issue.date }}</i></p>
        <p>Type: <i>{{ issue.typeof }}</i></p>
        <p>Severity: <i>{{ issue.severity }}</i></p>
        <p>Status: <i>{{ issue.status }}</i></p>
        {% if issue.song.title != 'General' %}
        <p>Song: <i>{{ issue.song.title }}</i></p>
        {% endif %}
        <div class='description'><p>Description: <i>{{ issue.description }}</i></p></div>
        <p>Time: {{ issue.minutes }}:{{ issue.seconds | stringformat:"02d" }}</p>
        {% if issue.song.url != '' %}
        <audio controls id="song">
            <source src="{{ issue.song.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}
        <form action="{% url 'issues:vote' issue.id %}" method="post">
            {% csrf_token %}
            <p>{{ issue.upvotes }}
            <button type='submit' title="{% for vote in upvoters %}{{ vote.user.username }} {% endfor %}" class="btn btn-success" name='voteup' value='+'><span class='glyphicon glyphicon-thumbs-up'></span></button>
            {{ issue.downvotes }}
            <button type='submit' title="{% for vote in downvoters %}{{ vote.user.username }} {% endfor %}"class="btn btn-danger" name='votedown' value='-'><span class='glyphicon glyphicon-thumbs-down'></span></button></p>
        </form>
        {% else %}
        <h1>Error. Not Implemented.</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
