{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'issues/style.css' %}"/>
<head>
    <title>MOctoD</title>
</head>
<body>
<header id='header'>
    <img src="{% static 'issues/images/mod.png' %}"/>
    <div class='top'>
        <ul>
            <a href="{% url 'issues:index' %}"><li>Issues</li></a>
            <a href="{% url 'issues:task_index' %}"><li>Tasks</li></a>
            <a href="{% url 'issues:song_index' %}"><li>Songs</li></a>
        </ul>
    </div>
</header>
<div class="list">
<div class="issueTableList" >
                <table>
                      {% if issue_recent_list %}
                            <tr>
                                <td>Title</td>
                                <td>Description</td>
                                <td>Type</td>
                                <td>Priority</td>
                                <td>Status</td>
                                <td>Date</td>
                                <td>User</td>
                            </tr>
                        {% for issue in issue_recent_list %}
                            <tr>
                                <td><a href="{% url 'issues:detail' issue.id %}">{{ issue.title}}</a></td>
                                <td>{{ issue.description }}</td>
                                <td>{{ issue.typeof }}</td>
                                <td>{{ issue.severity }}</td>
                                <td>{{ issue.status }}</td>
                                <td>{{ issue.date }}</td>
                                <td>{{ issue.postedby }}</td>
                            </tr>
                        {% endfor %}
                     {% elif task_recent_list %}
                            <tr>
                                <td>Title</td>
                                <td>Description</td>
                                <td>Type</td>
                                <td>Priority</td>
                                <td>Status</td>
                                <td>Date</td>
                                <td>User</td>
                            </tr>
                        {% for task in task_recent_list %}
                            <tr>
                                <td><a href="{% url 'issues:task_detail' task.id %}">{{ task.title}}</a></td>
                                <td>{{ task.description }}</td>
                                <td>{{ task.typeof }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.status }}</td>
                                <td>{{ task.date }}</td>
                                <td>{{ task.postedby }}</td>
                            </tr>
                        {% endfor %}
                    {% elif song_recent_list %}
                            <tr>
                                <td>Title</td>
                                <td>Notes</td>
                                <td>URL</td>
                            </tr>
                        {% for song in song_recent_list %}
                            <tr>
                                <td><a href="{% url 'issues:index' %} ">{{ song.title }}</a></td>
                                <td>{{ song.notes }}</td>
                                <td><a href="{{ song.url }}">Link</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td><strong>There is nothing here. Yay!</strong></td>
                        </tr>
                    {% endif %}
                </table>
</div>
</div>

<div class='right'>
</div>
</body>
