{% extends 'issues/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="list">
    {% if issue_recent_list %}
    <a href="{% url 'issues:new_issue' %}">New Issue</a>
    <div class="row" >
        <table class="table">
            <thead
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Song</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issue_recent_list %}
                <tr>
                    <td><a href="{% url 'issues:detail' issue.id %}">{{ issue.title}}</a></td>
                    <td style="text-overflow: ellipsis; max-width: 180px;">{{ issue.description }}</td>
                    <td>{{ issue.typeof }}</td>
                    <td>{{ issue.song }}</td>
                    <td><span class="label label-{% if issue.severity == 'Trivial' %}info{% elif issue.severity = 'Minor' %}success{% elif issue.severity == 'Major' %}warning{% elif issue.severity == 'Severe' %}danger{% endif %}">{{ issue.severity }}</span></td>
                    <td><span class="label label-{% if issue.status == 'Resolved' %}info{% elif issue.status = 'Fix Proposed' %}success{% elif issue.status == 'Acknowledged' %}warning{% elif issue.status == 'New' %}danger{% endif %}">{{ issue.status }}</span></td>
                    <td>{{ issue.date }}</td>
                    <td>{{ issue.postedby }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% elif song_recent_list %}
            <a href="{% url 'issues:new_song' %}">New Song</a>
            <div class="issueTableList">
                <table>
                    <tr>
                        <td>Title</td>
                        <td>Notes</td>
                        <td>URL</td>
                    </tr>
                    {% for song in song_recent_list %}
                    <tr>
                        <td><a href="{% url 'issues:song_detail' song.id %} ">{{ song.title }}</a></td>
                        <td>{{ song.notes }}</td>
                        <td><a href="{{ song.url }}">Link</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td><strong>There is nothing here. Yay!</strong></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
    </div>

    <div class='right'>
    </div>
    {% endblock %}
