{% extends 'issues/base.html' %}
{% load staticfiles %}
{% block head %}
<head>
    <title>Create New {% if page == 'issue' %}Issue{% elif page == 'song' %}Song{% endif %} | MoD</title>
</head>
{% endblock %}
{% block body %}
<div class='details'>
    {% if page == 'issues' %}
    <h3>Create New Issue</h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class='new'>
    <br>
        <form id="create_form" action="" method="post">
            {% csrf_token %} 
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.title.errors }}
            <p><label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}</p>
            <p><label for="{{ form.song.id_for_label }}">Song:</label>
            {{ form.song.errors }}
            {{ form.song }}</p>
            <p><label for="{{ form.typeof.id_for_label }}">Type:</label>
            {{ form.typeof.errors }}
            {{ form.typeof }}</p>
            <p><label for="{{ form.severity.id_for_label }}">Severity:</label>
            {{ form.severity.errors }}
            {{ form.severity }}</p>
            <p><label for="{{ form.description.id_for_label }}">Description:</label></p>
            {{ form.description.errors }}
            <p>{{ form.description }}</p>
            <p><label for="{{ form.minutes.id_for_label }}">Location in Song (Optional):</label> {{ form.minutes }}:{{ form.seconds }}</p>
            <button class="btn btn-primary" type='submit'>Submit</button>
        </form>
        {% else %}
        <h1>Error. Not Implemented.</h1>
        {% endif %}
        {% endblock %}
