{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'issues/style.css' %}"/>
<head>
    <title>View Task Detail</title>
</head>
<body>
<header id='header'>
    <img src="{% static 'issues/images/mod.png' %}"/>
    <div class='top'>
        <ul>
            <a href="{% url 'issues:index' %}"><li>Issues</li></a>
            <a href="{% url 'issues:task_index' %}"><li>Tasks</li></a>
            <a href="{% url 'issues:song_index' %}"><li>Songs</li></a>
        </ul>
    </div>
</header>
<div class='details'>
<h3>{{ task.title }}</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class='detail'>
    <p>Submitted by: <i>{{ task.postedby }}</i></p>
    <p>Date submitted: <i>{{ task.date }}</i></p>
    <p>Type: <i>{{ task.typeof }}</i></p>
    <p>Severity: <i>{{ task.priority }}</i></p>
    <p>Status: <i>{{ task.status }}</i></p>
    <div class='description'><p>Description: <i>{{ task.description }}</i></p></div>
<form action="{% url 'issues:vote' task.id %}" method="post">
    {% csrf_token %}
    <input type='submit' name='voteup' value='Vote Up'>
    <input type='submit' name='votedown' value='Vote Down'>
</form>
<p>Votes: {{ task.votes }}</p>
</div>
</div>
</body>
